html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logo {
  /* height: 64px;
  width: 64px;
  padding-left: 5px;
  padding-top: 5px; */
  /* text-align: center; */
  font-size: 40px;
  border: 2px solid #fafa8b;
  border-radius:200px;
  background: #ffffb3;
}

#one{
  color:red; 
  font-family:'Audiowide', cursive;
  box-sizing: border-box;

}
#two{
  color:teal; 
  font-family:'Audiowide', cursive;
  box-sizing: border-box;

}