<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

          <div class="jumbotron">
            <table>
              <tr>
                <td>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                </td>
              </tr>
              <tr>
                <td>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Primary</button>

                </td>
              </tr>
              <tr>
                <td>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Primary</button>

                </td>
              </tr>
              <tr>
                <td>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Primary</button>

                </td>
              </tr>
              <tr>
                <td>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Primary</button>

                </td>
              </tr>
              <tr>
                <td>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Primary</button>

                </td>
              </tr>
              <tr>
                <td>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Primary</button>

                </td>
              </tr>
              <tr>
                <td>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Primary</button>

                </td>
              </tr>
            </table>
          </div>

{% endblock %}