{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- JS -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">IOT Wed App</a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
      
              <li><a class="nav-link" href="{% url 'lightApp:button' %}">HOME</a></li>
              <li><a class="nav-link" href="{% url 'lightApp:dashboard' %}">Dashboard</a></li> 
              <li><a class="nav-link" href="{% url 'lightApp:logout' %}">Logout</a></li>     
  
         </ul>
        </div>
      </nav>
      <div class="wrapper">
        <div class="logo">
          <span id="one">Brainy<span id="two">Cube</span></span>
        </div>
       
        <div class="date">{{a}} <span>{{b}}</span></div>
      
        <div class="meter">
          <svg viewBox="0 0 24 24">
            <path d="M17,17A5,5 0 0,1 12,22A5,5 0 0,1 7,17C7,15.36 7.79,13.91 9,13V5A3,3 0 0,1 12,2A3,3 0 0,1 15,5V13C16.21,13.91 17,15.36 17,17M11,8V14.17C9.83,14.58 9,15.69 9,17A3,3 0 0,0 12,20A3,3 0 0,0 15,17C15,15.69 14.17,14.58 13,14.17V8H11Z" />
          </svg>
          <div class="number">24<span class="symbol">o</span></div>
          <div class="unit">temp.</div>
        </div>
      
        <div class="meter">
          <svg viewBox="0 0 24 24">
            <path d="M12,20A6,6 0 0,1 6,14C6,10 12,3.25 12,3.25C12,3.25 18,10 18,14A6,6 0 0,1 12,20Z"/>
          </svg>
          <div class="number">5.6<span class="symbol">M3</span></div>
          <div class="unit">water</div>
        </div>
      
        <div class="meter">
          <svg viewBox="0 0 24 24">
            <path d="M7,2V13H10V22L17,10H13L17,2H7Z" />
          </svg>
          <div class="number">220<span class="symbol">kw</span></div>
          <div class="unit">electricity</div>
        </div>
      
        <div class="controls">
          <div class="toggle">
            <input type="checkbox" class="switch" id="switch1" onclick="lightControlOne()">
            <svg viewBox="0 0 24 24">
              <path d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
            </svg>
            <div class="text">Light</div>
            <label for="switch1" class="switch grey"></label>
          </div>
          <div class="toggle">
            <input type="checkbox" class="switch" id="switch2" onclick="lightControlTwo()">
            <svg viewBox="0 0 24 24">
              <path d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
            </svg>
            <div class="text">Light</div>
            <label for="switch2" class="switch grey"></label>
          </div>
          <div class="toggle">
            <input type="checkbox" class="switch" id="switch3" onclick="lightControlThree()">
            <svg viewBox="0 0 24 24">
              <path d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
            </svg>
            <div class="text">Light</div>
            <label for="switch3" class="switch grey"></label>
          </div>
          <div class="toggle">
            <input type="checkbox" class="switch" id="switch4" onclick="lightControlFour()">
            <svg viewBox="0 0 24 24">
              <path d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
            </svg>
            <div class="text">Light</div>
            <label for="switch4" class="switch grey"></label>
          </div>
<!--  -->
          <div class="toggle">
            <input type="checkbox" class="switch" id="switch5" onclick="lightControlFive()">
            <svg viewBox="0 0 24 24">
              <path d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
            </svg>
            <div class="text">Light</div>
            <label for="switch5" class="switch grey"></label>
          </div>

          <div class="toggle">
            <input type="checkbox" class="switch" id="switch6" onclick="lightControlSix()">
            <svg viewBox="0 0 24 24">
              <path d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
            </svg>
            <div class="text">Light</div>
            <label for="switch6" class="switch grey"></label>
          </div>

          <div class="toggle">
            <input type="checkbox" class="switch" id="switch7" onclick="lightControlSeven()">
            <svg viewBox="0 0 24 24">
              <path d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
            </svg>
            <div class="text">Light</div>
            <label for="switch7" class="switch grey"></label>
          </div>

          <div class="toggle">
            <input type="checkbox" class="switch" id="switch8" onclick="lightControlEight()">
            <svg viewBox="0 0 24 24">
              <path d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
            </svg>
            <div class="text">Light</div>
            <label for="switch8" class="switch grey"></label>
          </div>

        </div>
      </div>
      
      

    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  // var firebaseConfig = {
  //   apiKey: "AIzaSyDj-epa6wHzWuxTqKIINk2d1zaE0RoyQD4",
  //   authDomain: "apps-adccc.firebaseapp.com",
  //   databaseURL: "https://apps-adccc-default-rtdb.firebaseio.com",
  //   projectId: "apps-adccc",
  //   storageBucket: "apps-adccc.appspot.com",
  //   messagingSenderId: "468281552905",
  //   appId: "1:468281552905:web:5ab99a52c80977acdc08d8",
  //   measurementId: "G-H9YMW1C8P3"
  // };
  var firebaseConfig = {
  apiKey: "AIzaSyBNijbPF_PI-DlfmVnxMEApV-bSzKA3hBU",
  authDomain: "brainycube-affd8.firebaseapp.com",
  databaseURL: "https://brainycube-affd8-default-rtdb.firebaseio.com",
  projectId: "brainycube-affd8",
  storageBucket: "brainycube-affd8.appspot.com",
  messagingSenderId: "648752046323",
  appId: "1:648752046323:web:c77a6417900849ba9cd786",
  measurementId: "G-R91T896V3Q"
};
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

  var bigone=document.getElementById('switch1');
  var db=firebase.database().ref();

  var onOff =document.getElementById('switch1').checked;
      if(onOff==true){
        console.log('on');
      }
      else{
        console.log('off');
      }
  function lightControlOne() {
    db.once('value')
    .then(function(snapshot) {
      var childKey = snapshot.child('bulb').child("lightOne").val(); 
      console.log(childKey);
      var onOff =document.getElementById('switch1').checked;
      // var onOff =document.getElementById('switch1').checked;
      if(childKey == false){
        db.child('bulb').update({'lightOne':true})
      }
      else{
        db.child('bulb').update({'lightOne':false})
      }
    });
  }

  function lightControlTwo() {
    db.once('value')
    .then(function(snapshot) {
      var childKey = snapshot.child('bulb').child("lightTwo").val(); 
      console.log(childKey);
      var onOff =document.getElementById('switch2').checked;
      // var onOff =document.getElementById('switch1').checked;
      if(childKey == false){
        db.child('bulb').update({'lightTwo':true})
      }
      else{
        db.child('bulb').update({'lightTwo':false})
      }
    });
  }

  function lightControlThree() {
    db.once('value')
    .then(function(snapshot) {
      var childKey = snapshot.child('bulb').child("lightThree").val(); 
      console.log(childKey);
      var onOff =document.getElementById('switch3').checked;
      // var onOff =document.getElementById('switch1').checked;
      if(childKey == false){
        db.child('bulb').update({'lightThree':true})
      }
      else{
        db.child('bulb').update({'lightThree':false})
      }
    });
  }

  function lightControlFour() {
    db.once('value')
    .then(function(snapshot) {
      var childKey = snapshot.child('bulb').child("lightFour").val(); 
      console.log(childKey);
      var onOff =document.getElementById('switch4').checked;
      // var onOff =document.getElementById('switch1').checked;
      if(childKey == false){
        db.child('bulb').update({'lightFour':true})
      }
      else{
        db.child('bulb').update({'lightFour':false})
      }
    });
  }

  function lightControlFive() {
    db.once('value')
    .then(function(snapshot) {
      var childKey = snapshot.child('bulb').child("lightFive").val(); 
      console.log(childKey);
      var onOff =document.getElementById('switch5').checked;
      // var onOff =document.getElementById('switch1').checked;
      if(childKey == false){
        db.child('bulb').update({'lightFive':true})
      }
      else{
        db.child('bulb').update({'lightFive':false})
      }
    });
  }

  function lightControlSix() {
    db.once('value')
    .then(function(snapshot) {
      var childKey = snapshot.child('bulb').child("lightSix").val(); 
      console.log(childKey);
      var onOff =document.getElementById('switch6').checked;
      // var onOff =document.getElementById('switch1').checked;
      if(childKey == false){
        db.child('bulb').update({'lightSix':true})
      }
      else{
        db.child('bulb').update({'lightSix':false})
      }
    });
  }

  function lightControlSeven() {
    db.once('value')
    .then(function(snapshot) {
      var childKey = snapshot.child('bulb').child("lightSeven").val(); 
      console.log(childKey);
      var onOff =document.getElementById('switch7').checked;
      // var onOff =document.getElementById('switch1').checked;
      if(childKey == false){
        db.child('bulb').update({'lightSeven':true})
      }
      else{
        db.child('bulb').update({'lightSeven':false})
      }
    });
  }

  function lightControlEight() {
    db.once('value')
    .then(function(snapshot) {
      var childKey = snapshot.child('bulb').child("lightEight").val(); 
      console.log(childKey);
      var onOff =document.getElementById('switch8').checked;
      // var onOff =document.getElementById('switch1').checked;
      if(childKey == false){
        db.child('bulb').update({'lightEight':true})
      }
      else{
        db.child('bulb').update({'lightEight':false})
      }
    });
  }
</script>
</body>
</html>
